.button {
  font: var(--font-Rubik-18-normal);
  background-color: var(--color-main-orange);
  color: var(--color-main-black);
  padding: 16px 5px;
  white-space: nowrap;
  width: 100%;
  transition: var(--transition-duration-300) ease;
  border-radius: var(--border-radius-7);
}
.button[disabled] {
  color: #ffffff;
  background-color: var(--color-main-gray);
  pointer-events: none;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-button-hover);
  }
}
