._container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
._container-secondary {
  max-width: var(--container-secondary-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}