/* VARIABLES */
:root {
  --header-height-mobile: 51px;
  --header-height-tablet: 59px;
  --header-height-desktop: 80px;

  --container-max-width: 1320px;
  --container-secondary-max-width: 1110px;

  /* Z-INDEX */

  --z-index-s: 10;
  --z-index-m: 100;
  --z-index-l: 500;
  --z-index-xl: 1000;
  --z-index-xxl: 2000;

  --z-index-overlay: 1999;
  --z-index-popup: 2000;

  /* TRANSITION */

  --transition-duration-100: 0.1s;
  --transition-duration-200: 0.2s;
  --transition-duration-300: 0.3s;
  --transition-duration-400: 0.4s;
  --transition-duration-500: 0.5s;

  /* COLORS */
  --color-main-black: #000000;
  --color-secondary-black: #111111;
  --color-main-orange: #fcb500;
  --color-main-gray: #adadad;
  --color-button-hover: rgba(252, 181, 0, 0.8);
  /* BORDERS */

  --border-radius-7: 7px;

  /* FONTS */
  --font-Rubik-12-normal: 400 12px/24px Rubik, Text, sans-serif;
  --font-Rubik-16-normal: 400 16px/20px Rubik, Text, sans-serif;
  --font-Rubik-18-normal: 400 18px/21px Rubik, Text, sans-serif;
  --font-Rubik-24-normal: 400 24px/28px Rubik, Text, sans-serif;
  --font-Rubik-36-normal: 400 36px/43px Rubik, Text, sans-serif;
  --font-Rubik-48-normal: 400 48px/57px Rubik, Text, sans-serif;

  --font-Rubik-20-bold: 700 20px/28px Rubik, Text, sans-serif;
  --font-Rubik-28-bold: 700 28px/35px Rubik, Text, sans-serif;
  --font-Rubik-36-bold: 700 36px/43px Rubik, Text, sans-serif;
  --font-Rubik-48-bold: 700 48px/57px Rubik, Text, sans-serif;
  --font-Rubik-144-bold: 700 144px/152px Rubik, Text, sans-serif;
  --font-Rubik-116-bold: 700 116px/124px Rubik, Text, sans-serif;
  --font-Rubik-75-bold: 700 75px/83px Rubik, Text, sans-serif;
  --font-Rubik-42-bold: 700 42px/50px Rubik, Text, sans-serif;
}
